<mat-grid-list cols="5" rowHeight="150px"
              *ngFor = "let movie of movies">
  <mat-grid-tile 
            *ngFor="let tile of movies"
            [colspan]="tile.cols"
            [rowspan]="tile.rows"
            [style.background]="tile.color">
  </mat-grid-tile>
  <movie 
      [data] = "movie"
      (delete) = "hideHim($event)">
  </movie>
</mat-grid-list>

<br>
<br>

<div style = "text-align: center;">
  The movie you deleted is: {{name}}
</div>